---
import Section from "./Section.astro";

type Experience = {
  title: string;
  company: string;
  from: string;
  to: string;
  description: string;
  url: string;
};

const experinces: Experience[] = [
  {
    company: "TokenSuite",
    title: "Software Engineer",
    from: "Jan 2024",
    to: "Present",
    description: "Building decentralized products.",
    url: "https://tokensuite.io",
  },
  {
    company: "Getir",
    title: "Frontend Engineer",
    from: "Nov 2022",
    to: "Jan 2024",
    description:
      "Part of the GetirLocals that works with a startup mindset and a strong collaborative culture with a lot of peer-programming. from adding new features and big replatforming projects to launching entire new products.",
    url: "https://getir.com",
  },
  {
    company: "Kiwi Mobility",
    title: "Frontend Developer",
    from: "Sep 2021",
    to: "Oct 2022",
    description:
      "Created back-office management web application for Kiwi Mobility. The application is used by the company's operation team to manage and track vehicles around the world.",
    url: "https://ride.kiwi",
  },
  {
    company: "Otokirala",
    title: "Frontend Developer",
    from: "Sep 2019",
    to: "Mar 2020",
    description:
      "Built the SEO-friendly, server-side rendered web application for Otokirala. The application allows users to rent a car.",
    url: "https://otokirala.com",
  },
  {
    company: "Antverse",
    title: "Software Developer Intern",
    from: "Mar 2019",
    to: "Sep 2019",
    description:
      "Contributed to web applications. Did research and development of file-system sync, React Native, and application component structure.",
    url: "https://fdemir.dev",
  },
];
---

<Section title="Work Experience">
  <ul>
    {
      experinces.map((item) => (
        <li>
          <h4>
            <a href={item.url} target="_blank">
              {item.company}
            </a>
            <small>
              {item.from} - {item.to}
            </small>
          </h4>
          <p>{item.description}</p>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  p {
    color: var(--color-secondary);
    line-height: 24px;
    font-size: 1rem;
  }

  small {
    margin-left: 10px;
    color: var(--color-secondary);
  }
</style>
